@import url("https://code.highcharts.com/css/highcharts.css");
@import url("https://code.highcharts.com/dashboards/css/datagrid.css");
@import url("https://code.highcharts.com/dashboards/css/dashboards.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --color-first-accent: #448aff;
  --color-second-accent: #00bcd4;
  --shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1),
    0px 1px 1px 0px rgba(0, 0, 0, 0.09), 0px 3px 2px 0px rgba(0, 0, 0, 0.05),
    0px 6px 2px 0px rgba(0, 0, 0, 0.01);
}

body {
  margin: 0;
  background-color: #f2f2f2ed;
  font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}
button {
  outline: none;
}

.highcharts-dashboards-wrapper {
  font-family: "IBM Plex Sans", sans-serif;
  border-radius: 10px;
  background-color: #eeeeee;
  box-shadow: var(--shadow);
  margin-top: 50px;

  --highcharts-background-color: #eeeeee;
  --highcharts-neutral-color-100: #222831;
  --highcharts-neutral-color-80: #222831;
  --highcharts-neutral-color-60: #31363f;
  --highcharts-neutral-color-40: #222831;
  --highcharts-neutral-color-20: #222831;
  --highcharts-neutral-color-10: #222831;
  --highcharts-neutral-color-5: #eeeeee;
  --highcharts-neutral-color-3: #dddddd;
  --highcharts-neutral-color-0: #222831;
  --highcharts-highlight-color-100: #448aff;
  --highcharts-highlight-color-80: #448aff;
  --highcharts-highlight-color-60: #448aff;
  --highcharts-highlight-color-20: #448aff;
  --highcharts-highlight-color-10: #448aff;
}
@media (max-width: 768px) {
  .highcharts-dashboards-wrapper {
    font-size: x-small;
  }
}
@media (max-width: 1140px) {
  .highcharts-dashboards-wrapper {
    font-size: small;
  }
}
h1#title {
  padding-top: 10px;
  margin: 0;
  background-color: #3d3d3d;
  text-align: center;
  color: #fff;
}

.highcharts-plot-line {
  stroke-dasharray: 2px;
  stroke: var(--highcharts-color-3);
}

.highcharts-plot-line-label {
  fill: var(--highcharts-color-3);
}

.title-icon {
  animation: spin 3s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
